.application.ui.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  display: flex;
  align-items: center;
}

.home-page {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.home-page__paragraph {
  padding-left: 25px;
}

.services-page, .service-details-page, .staff-page, .contacts-page, .master-details-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.ui.grid>.google-map.column.wide {
  position: relative;
  width: 500px;
  height: 600px;
  padding: 0;
}

.ui.grid>.column.contacts-page__right-col {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//common

.align-center {
  text-align: center;
}
