// .float-left {
//   float: left;
// }

.application.ui.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  display: flex;
  align-items: center;
}

.home-page {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.home-page__paragraph {
  padding-left: 25px;
}

.services-page, .staff-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}
